.HeaderLayout {
  padding: 0px 20px;
  position: relative;
  display: flex;
  width: 100%;
  background: rgb(255, 255, 255);
  justify-content: center;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px;
}

.HeaderWrapper {
  margin-top: 10px;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 105px;
  align-items: center;
  flex-direction: column;
}

.HeaderUpperLayout {
  max-width: 1160px;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 48px;
  max-height: 72px;
  max-width: 1080px;
  align-items: center;
  justify-content: space-between;
}

.LogoWrapper {
  display: flex;
  width: 132px;
  min-height: 35px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  overflow: hidden;
  background: url('../assets/텀블벅로고.png') no-repeat;
  width: 140px;
  height: 36px;
  background-size: contain;
}

.StatusWrapper {
  margin-right: 0px;
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: center;
}

.ProjectEditorButton {
  padding: 16px;
  display: inline-flex;
  width: auto;
  color: rgb(25, 25, 25);
  font-size: 12px;
  line-height: 28px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.UserButtonWrapper {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.UserButton {
  margin-left: 10px;
  position: relative;
  padding: 16px;
  display: inline-flex;
  width: auto;
  min-width: 30px;
  max-height: 44px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(223, 223, 223);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.UserAvatar {
  position: relative;
  padding-top: 3px;
  display: inline-flex;
  width: 24px;
  height: 24px;
  color: rgb(25, 25, 25);
  font-size: 12px;
  line-height: 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(223, 223, 223);
  box-sizing: border-box;
  border-radius: 24px;
  font-weight: bold;
  background: rgb(217, 217, 217);
}

.AvatarIcon {
  overflow: hidden;
  display: flex;
  min-width: 48px;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.UserText {
  margin-left: 10px;
  display: inline-flex;
  color: rgb(25, 25, 25);
  font-size: 12px;
  line-height: 28px;
  font-weight: bold;
  flex-shrink: 0;
}

.HeaderContentLayout {
  position: relative;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 56px;
  z-index: 999;
}

.SearchBar {
  max-width: 1160px;
  padding: 0px;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1080px;
  min-height: 56px;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
}

.CategorySection {
  margin-right: 20px;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 56px;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
  user-select: none;
}

.CategoryWrapper {
  padding: 0;
  min-height: 56px;
  position: relative;
  margin-right: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgb(13, 13, 13);
  cursor: pointer;
  flex-shrink: 0;
}

.IconWrapper {
  margin: 0px 8px 0px 0px;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  justify-content: center;
  align-items: center;
}

.MenuIcon {
  overflow: hidden;
  display: flex;
  min-width: 48px;
  width: 48px;
  height: 48px;
}

.CategoryWrapper {
  padding: 0px 6px;
  min-height: 56px;
  position: relative;
  margin-right: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgb(13, 13, 13);
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 600;
}

.SearchInputWrapper {
  margin-right: 0px;
  position: relative;
  padding: 0px 30px 0px 16px;
  display: inline-flex;
  width: 260px;
  height: 36px;
  background: rgb(243, 243, 243);
  align-items: center;
  border-radius: 8px;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.3);
}

.SearchInput {
  border: none;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.02em;
  background: rgb(243, 243, 243);
  color: rgb(51, 51, 51);
  appearance: none;
  outline: none;
}

.SearchButton {
  position: absolute;
  right: 10px;
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.SearchIcon {
  overflow: hidden;
  display: flex;
  min-width: 48px;
  transform: scale(0.5);
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.ExtendedCategorySection {
  width: calc(100% + 40px);
  overflow: hidden;
  margin-top: 56px;
  position: absolute;
  display: flex;
  height: auto;
  max-height: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  z-index: -1;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 7px;
}
